.page {
    position: relative;
    display: flex;
    flex-direction: row;
}

.mainContent {
    position: relative;
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: row;
    padding-top: 1em;
    padding-bottom: 65px;
}