.item{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    /* padding: 0.5em 1em; */
    /* transition: 0.1s; */
    overflow: hidden;
}

.item.completed{
    text-decoration: line-through;
    font-style: italic;
    color: rgba(99, 112, 129, 0.75);
}

.item .checkBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    align-self: stretch;
    padding-left: 1em;
    padding-right: 0.5em;
    /* height: 100%; */
}
.item .checkBox button{
    background-color: rgba(255, 255, 255, 0.5);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    transition: 0.1s;
    cursor: pointer;
}
.item .checkBox.hovering button{
    background-color: rgba(255, 255, 255, 1);
}
.item .checkBox.completed button{
    background-color: #7C98B3;
}
.item .checkBox.hovering.completed button{
    background-color: #ACCBE1;
}

.item .content{
    padding-left: 0.25em;
}

.item .content .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 0.5em; */
}
.item .content .header .moduleName{
    font-weight: 600;
}
.item .content .header .dateContent{
    display: flex;
    flex-direction: column;
}
.item .content .header .dateContent .dateText{
    font-size: 12px;
}
.item .content .header .dateContent .diffText{
    font-size: 12px;
    font-style: italic;
}
.item .content .description{
    display: flex;
    flex-direction: column;
}
.item .content .description span{
    font-size: 14px;
}