.page{
    flex-grow: 1;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    font-size: 36px;
    margin-bottom: 1em;
}
.googleSignin{
    border-radius: 7mm;
    padding: 0.5em 1em;
    background-color: royalblue;
    color: white;
    cursor: pointer;
}
.googleSignin:hover{
    animation-name: animFadeOut;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes animFadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.7;
    }
}