.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* justify-content: center; */
}

.main .modules {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-grow: 1;
    width: calc(100% - 2em);
    gap: 1em;
}